<style>
<body>
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}
<div class="icon-bar">
  <a class="active" href="#"><i class="fa fa-home"></i></a>
  <a class="fa fa-battery-4" style="font-size56px"></i></a>
  <a href="#"><i class="fa fa-envelope"></i></a> 
  <a href="#"><i class="fa fa-globe"></i></a>
  <a href="#"><i class="fa fa-trash"></i></a>
body{
  background-image: url("u.jpg");
  background-color: #cccccc;
}
body {margin:0;}

.button:hover{
background-color:green;
}

.icon-bar {
  width: 100%;
  background-color: green;
  overflow: auto;
}

.icon-bar a {
  float:left;
  width: 20%;
  text-align: center;
  padding: 2px 0;
  transition: all 0.3s ease;
  color: white;
  font-size: 36px;
}

.icon-bar a:hover {
  background-color: black;
}

.active {
  background-color: pink;
}
.addy{
  width: 35px;
  height: 5px;
  background-color: yellow;
  margin: 6px 0;
}
</style>